temp/audio.wav
temp/segment_0.wav
temp/segment_1.wav
temp/segment_2.wav
temp/segment_3.wav
temp/segment_4.wav
temp/segment_5.wav
temp/segment_6.wav
temp/segment_7.wav
temp/segment_8.wav
temp/segment_9.wav
temp/segment_10.wav
temp/segment_11.wav
temp/segment_12.wav
temp/segment_13.wav
temp/segment_14.wav
temp/segment_15.wav
temp/segment_16.wav
temp/segment_17.wav
temp/segment_18.wav
temp/segment_19.wav
temp/segment_20.wav
temp/segment_21.wav
temp/segment_22.wav
temp/segment_23.wav
temp/segment_24.wav
temp/segment_25.wav
temp/segment_26.wav
temp/segment_27.wav
temp/segment_28.wav
temp/segment_29.wav
temp/segment_30.wav
temp/segment_31.wav
temp/segment_32.wav
temp/segment_33.wav
temp/segment_34.wav
temp/segment_35.wav
temp/segment_36.wav
temp/segment_37.wav
temp/segment_38.wav
temp/segment_39.wav
temp/segment_40.wav
temp/segment_41.wav
temp/segment_42.wav
temp/segment_43.wav
temp/segment_44.wav
temp/segment_45.wav
temp/segment_46.wav
temp/segment_47.wav
temp/segment_48.wav
temp/segment_49.wav
temp/segment_50.wav
temp/segment_51.wav
temp/segment_52.wav
temp/segment_53.wav
temp/segment_54.wav
temp/segment_55.wav
temp/segment_56.wav
temp/segment_57.wav
temp/segment_58.wav
temp/segment_59.wav
temp/segment_60.wav
temp/segment_61.wav
temp/segment_62.wav
temp/segment_63.wav
temp/segment_64.wav
temp/segment_65.wav
temp/segment_66.wav
temp/segment_67.wav
temp/segment_68.wav
temp/segment_69.wav
temp/segment_70.wav
temp/segment_71.wav
temp/segment_72.wav
temp/segment_73.wav
temp/segment_74.wav
temp/segment_75.wav
temp/segment_76.wav
temp/segment_77.wav
temp/segment_78.wav
temp/segment_79.wav
temp/segment_80.wav
temp/segment_81.wav
temp/segment_82.wav
temp/segment_83.wav
temp/segment_84.wav
temp/segment_85.wav
temp/segment_86.wav
temp/segment_87.wav
temp/segment_88.wav
temp/segment_89.wav
temp/segment_90.wav
temp/segment_91.wav
temp/segment_92.wav
temp/segment_93.wav
temp/segment_94.wav
temp/segment_95.wav
temp/segment_96.wav
temp/segment_97.wav
temp/segment_98.wav
temp/segment_99.wav
temp/segment_100.wav
temp/segment_101.wav
temp/segment_102.wav
temp/segment_103.wav
temp/segment_104.wav
temp/segment_105.wav
temp/segment_106.wav
temp/segment_107.wav
temp/segment_108.wav
temp/segment_109.wav
temp/segment_110.wav
temp/segment_111.wav
temp/segment_112.wav
temp/segment_113.wav
temp/segment_114.wav
temp/segment_115.wav
temp/segment_116.wav
temp/segment_117.wav
temp/segment_118.wav
temp/segment_119.wav
temp/segment_120.wav
temp/segment_121.wav
temp/segment_122.wav
temp/segment_123.wav
temp/segment_124.wav
temp/segment_125.wav
temp/segment_126.wav
temp/segment_127.wav
temp/segment_128.wav
temp/segment_129.wav
temp/segment_130.wav
temp/segment_131.wav
temp/segment_132.wav
temp/segment_133.wav
temp/segment_134.wav
temp/segment_135.wav
temp/segment_136.wav
temp/segment_137.wav
temp/segment_138.wav
temp/segment_139.wav
temp/segment_140.wav
temp/segment_141.wav
temp/segment_142.wav
temp/segment_143.wav
temp/segment_144.wav
temp/segment_145.wav
temp/segment_146.wav
temp/segment_147.wav
temp/segment_148.wav
temp/segment_149.wav
temp/segment_150.wav
temp/segment_151.wav
temp/segment_152.wav
temp/segment_153.wav
temp/segment_154.wav
temp/segment_155.wav
temp/segment_156.wav
temp/segment_157.wav
temp/segment_158.wav
temp/segment_159.wav
temp/segment_160.wav
temp/segment_161.wav
temp/segment_162.wav
temp/segment_163.wav
temp/status.json
