# Name                    Version                   Build  Channel
aiohappyeyeballs          2.6.1                    pypi_0    pypi
aiohttp                   3.11.18                  pypi_0    pypi
aiosignal                 1.3.2                    pypi_0    pypi
alembic                   1.15.2                   pypi_0    pypi
antlr4-python3-runtime    4.9.3                    pypi_0    pypi
asteroid-filterbanks      0.4.0                    pypi_0    pypi
async-timeout             5.0.1                    pypi_0    pypi
attrs                     25.3.0                   pypi_0    pypi
av                        14.3.0                   pypi_0    pypi
blas                      1.0                         mkl    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
brotli-python             1.0.9           py310h5da7b33_9    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
bzip2                     1.0.8                h2bbff1b_6    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
ca-certificates           2025.4.26            h4c7d964_0    conda-forge
certifi                   2025.4.26       py310haa95532_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
cffi                      1.17.1                   pypi_0    pypi
chardet                   3.0.4                    pypi_0    pypi
charset-normalizer        3.4.2                    pypi_0    pypi
click                     8.1.8                    pypi_0    pypi
colorama                  0.4.6              pyhd8ed1ab_1    conda-forge
coloredlogs               15.0.1                   pypi_0    pypi
colorlog                  6.9.0                    pypi_0    pypi
contourpy                 1.3.2                    pypi_0    pypi
ctranslate2               4.4.0                    pypi_0    pypi
cuda-cccl                 12.9.27                       0    nvidia
cuda-cccl_win-64          12.9.27                       0    nvidia
cuda-cudart               11.8.89                       0    nvidia
cuda-cudart-dev           11.8.89                       0    nvidia
cuda-cupti                11.8.87                       0    nvidia
cuda-libraries            11.8.0                        0    nvidia
cuda-libraries-dev        11.8.0                        0    nvidia
cuda-nvrtc                11.8.89                       0    nvidia
cuda-nvrtc-dev            11.8.89                       0    nvidia
cuda-nvtx                 11.8.86                       0    nvidia
cuda-profiler-api         12.9.19                       0    nvidia
cuda-runtime              11.8.0                        0    nvidia
cuda-version              12.9                          3    nvidia
cycler                    0.12.1                   pypi_0    pypi
docopt                    0.6.2                    pypi_0    pypi
einops                    0.8.1                    pypi_0    pypi
faster-whisper            1.1.1                    pypi_0    pypi
filelock                  3.18.0                   pypi_0    pypi
flatbuffers               25.2.10                  pypi_0    pypi
fonttools                 4.57.0                   pypi_0    pypi
freeglut                  3.4.0                hd77b12b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
freetype                  2.13.3               h0620614_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
frozenlist                1.6.0                    pypi_0    pypi
fsspec                    2025.3.2           pyhd8ed1ab_0    conda-forge
giflib                    5.2.2                h7edc060_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
gmp                       6.3.0                h537511b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
gmpy2                     2.2.1           py310h827c3e9_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
greenlet                  3.2.1                    pypi_0    pypi
huggingface-hub           0.31.1                   pypi_0    pypi
humanfriendly             10.0                     pypi_0    pypi
hyperpyyaml               1.2.2                    pypi_0    pypi
idna                      2.8                      pypi_0    pypi
intel-openmp              2025.0.0          haa95532_1164    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
jinja2                    3.1.6           py310haa95532_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
joblib                    1.5.0                    pypi_0    pypi
jpeg                      9e                   h827c3e9_3    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
julius                    0.2.7                    pypi_0    pypi
kiwisolver                1.4.8                    pypi_0    pypi
lcms2                     2.16                 h62be587_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
lerc                      4.0.0                h5da7b33_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libcublas                 11.11.3.6                     0    nvidia
libcublas-dev             11.11.3.6                     0    nvidia
libcufft                  10.9.0.58                     0    nvidia
libcufft-dev              10.9.0.58                     0    nvidia
libcurand                 10.3.10.19                    0    nvidia
libcurand-dev             10.3.10.19                    0    nvidia
libcusolver               11.4.1.48                     0    nvidia
libcusolver-dev           11.4.1.48                     0    nvidia
libcusparse               11.7.5.86                     0    nvidia
libcusparse-dev           11.7.5.86                     0    nvidia
libdeflate                1.22                 h5bf469e_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libffi                    3.4.4                hd77b12b_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libjpeg-turbo             2.0.0                h196d8e1_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libnpp                    11.8.0.86                     0    nvidia
libnpp-dev                11.8.0.86                     0    nvidia
libnvjpeg                 11.9.0.86                     0    nvidia
libnvjpeg-dev             11.9.0.86                     0    nvidia
libpng                    1.6.39               h8cc25b3_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libtiff                   4.7.0                h404307b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libuv                     1.48.0               h827c3e9_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libwebp                   1.3.2                h18467be_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libwebp-base              1.3.2                h3d04722_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
lightning                 2.5.1.post0              pypi_0    pypi
lightning-utilities       0.14.3             pyhd8ed1ab_0    conda-forge
lz4-c                     1.9.4                h2bbff1b_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
mako                      1.3.10                   pypi_0    pypi
markdown-it-py            3.0.0                    pypi_0    pypi
markupsafe                3.0.2           py310h827c3e9_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
matplotlib                3.10.1                   pypi_0    pypi
mdurl                     0.1.2                    pypi_0    pypi
mkl                       2023.1.0         h6a75c08_48682    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
mkl-service               2.4.0           py310h827c3e9_2    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
mkl_fft                   1.3.11          py310h827c3e9_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
mkl_random                1.2.8           py310hc64d2fc_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
mpc                       1.3.1                h827c3e9_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
mpfr                      4.2.1                h56c3642_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
mpmath                    1.3.0           py310haa95532_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
multidict                 6.4.3                    pypi_0    pypi
networkx                  3.4.2           py310haa95532_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
nltk                      3.9.1                    pypi_0    pypi
numpy                     2.2.5                    pypi_0    pypi
numpy-base                2.0.1           py310h65a83cf_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
omegaconf                 2.3.0                    pypi_0    pypi
onnxruntime               1.21.1                   pypi_0    pypi
openjpeg                  2.5.2                h9b5d1b5_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
openssl                   3.1.0                hcfcfb64_3    conda-forge
optuna                    4.3.0                    pypi_0    pypi
packaging                 24.2                     pypi_0    pypi
pandas                    2.2.3                    pypi_0    pypi
pillow                    11.2.1                   pypi_0    pypi
pip                       25.1               pyhc872135_2    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
pip-licenses              5.0.0                    pypi_0    pypi
prettytable               3.16.0                   pypi_0    pypi
primepy                   1.3                      pypi_0    pypi
propcache                 0.3.1                    pypi_0    pypi
protobuf                  6.30.2                   pypi_0    pypi
pyannote-audio            3.3.2                    pypi_0    pypi
pyannote-core             5.0.0                    pypi_0    pypi
pyannote-database         5.1.3                    pypi_0    pypi
pyannote-metrics          3.2.1                    pypi_0    pypi
pyannote-pipeline         3.0.1                    pypi_0    pypi
pycparser                 2.22                     pypi_0    pypi
pydub                     0.25.1             pyhd8ed1ab_1    conda-forge
pygments                  2.19.1                   pypi_0    pypi
pylicenses                0.1                      pypi_0    pypi
pyparsing                 3.2.3                    pypi_0    pypi
pyreadline3               3.5.4                    pypi_0    pypi
pysocks                   1.7.1           py310haa95532_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
python                    3.10.16              h4607a30_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
python-dateutil           2.9.0.post0              pypi_0    pypi
pytorch                   2.5.1           py3.10_cuda11.8_cudnn9_0    pytorch
pytorch-cuda              11.8                 h24eeafa_6    pytorch
pytorch-lightning         2.5.1.post0        pyh2a12c56_0    conda-forge
pytorch-metric-learning   2.8.1                    pypi_0    pypi
pytorch-mutex             1.0                        cuda    pytorch
pytz                      2025.2                   pypi_0    pypi
pyyaml                    6.0.2           py310h827c3e9_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
regex                     2024.11.6                pypi_0    pypi
requests                  2.21.0                   pypi_0    pypi
rich                      14.0.0                   pypi_0    pypi
ruamel-yaml               0.18.10                  pypi_0    pypi
ruamel-yaml-clib          0.2.12                   pypi_0    pypi
safetensors               0.5.3                    pypi_0    pypi
scikit-learn              1.6.1                    pypi_0    pypi
scipy                     1.15.2                   pypi_0    pypi
semver                    3.0.4                    pypi_0    pypi
sentencepiece             0.2.0                    pypi_0    pypi
setuptools                78.1.1          py310haa95532_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
sh                        1.12.14                  pypi_0    pypi
shellingham               1.5.4                    pypi_0    pypi
six                       1.17.0                   pypi_0    pypi
sortedcontainers          2.4.0                    pypi_0    pypi
soundfile                 0.13.1                   pypi_0    pypi
speechbrain               1.0.3                    pypi_0    pypi
sqlalchemy                2.0.40                   pypi_0    pypi
sqlite                    3.45.3               h2bbff1b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
sympy                     1.14.0                   pypi_0    pypi
tabulate                  0.8.2                    pypi_0    pypi
tbb                       2021.8.0             h59b6b97_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
tensorboardx              2.6.2.2                  pypi_0    pypi
threadpoolctl             3.6.0                    pypi_0    pypi
tk                        8.6.14               h0416ee5_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
tokenizers                0.21.1                   pypi_0    pypi
tomli                     2.2.1                    pypi_0    pypi
torch-audiomentations     0.12.0                   pypi_0    pypi
torch-pitch-shift         1.2.5                    pypi_0    pypi
torchaudio                2.7.0                    pypi_0    pypi
torchmetrics              1.7.1              pyhd8ed1ab_0    conda-forge
torchvision               0.20.1                   pypi_0    pypi
tqdm                      4.67.1             pyhd8ed1ab_1    conda-forge
transformers              4.51.3                   pypi_0    pypi
typer                     0.15.3                   pypi_0    pypi
typing-extensions         4.13.2                   pypi_0    pypi
typing_extensions         4.12.2          py310haa95532_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
tzdata                    2025.2                   pypi_0    pypi
ucrt                      10.0.22621.0         h57928b3_1    conda-forge
urllib3                   1.24.3                   pypi_0    pypi
vc                        14.42                haa95532_5    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
vs2015_runtime            14.42.34433          hbfb602d_5    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
wcwidth                   0.2.13                   pypi_0    pypi
wheel                     0.45.1          py310haa95532_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
whisperx                  3.3.4                    pypi_0    pypi
win_inet_pton             1.1.0           py310haa95532_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
xz                        5.6.4                h4754444_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
yaml                      0.2.5                he774522_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
yarl                      1.20.0                   pypi_0    pypi
zlib                      1.2.13               h8cc25b3_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
zstd                      1.5.6                h8880b57_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main